<div class="pre ui-helper-clearfix">
    <div id="pre-text">
        <h1><%= h(t.reports.problematic_tags.name) %></h1>
        <%= t.reports.problematic_tags.intro %>
    </div>
</div>
<div class="box resize">
    <table id="grid-problematic-tags">
    </table>
</div>

